main.aux
main.log
main.lol
main.dvi
main.lof
main.out
main.toc
main.ali
main.equ
main.glg
main.glo
main.gls
main.glsdefs
main.synctex.gz
main.ist

note.dvi
note.log
*.pdf
*.png
usefull.tex
token.mat
*.pyc
*.jpg
.idea/
prank/
*.zip